@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Color Pallete */
:root{
    /* Primary Color */
    --primary: hsl(185, 75%, 39%);
    --secondary: hsl(229, 23%, 23%);
    --tertiary: hsl(227, 10%, 46%);
    /* Neutrals */
    --neutral: hsl(0, 0%, 59%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
}

/* I can also use this method */

/* background-image: url(' ./images/bottom.png'), url('./images/top.png');
background-position: right 50vw bottom 40vh ,left 45vw top 60vh;  */
 
/* Custom Properties */
.wrapper{
    position: relative;
    width: 100%;
    height: 100dvh;
    display: grid;
    place-items: center;
    background-color: var(--primary);
    overflow: hidden;
    z-index: -1;
}
/* Using Pseudo selectors for placing two background images */
.wrapper::before{
    content: url('./images/bg-pattern-top.svg');
    position: absolute;
    /* Using vw, vh (viewport units) for resolve issue of displacement of images while upscale or downscale browser. */
    bottom: 35vh;
    right: 51.8vw;
    z-index: -1;
}
.wrapper::after{
    content: url('./images/bg-pattern-bottom.svg');
    position: absolute;
    top: 51.5vh;
    left: 47.5vw;
    z-index: -1;
}
main{
    width: 22rem;
    height: 23.2rem;
    border-radius: 0.8rem;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    z-index: 1;
    box-shadow: 0 20px 60px -20px var(--secondary);
}
.card-background img{
    width: 100%;
}
.profile-pic{
    position: relative;
    width: 6.8rem;
    height: 6.8rem;
    border-radius: 50%;
    border: 6px solid #fff;
    overflow: hidden;
    margin: -3.7rem auto;
}
.profile-pic img{
    width: 100%;
}

.profile-desc{
    margin-top: 5rem;
    width: 100%;
}
.profile-desc h1{
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--secondary);
}

.profile-desc p{
    margin-top: 0.5rem;
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--neutral);
}
.profile-id{
    margin-left: 0.5rem;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--neutral);
}
.profile-status{
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 1.5rem;
    width: 100%;
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 3.2rem;
}
.profile-status >div p{
    font-size: 1.15rem;
    color: var(--secondary);
    font-weight: 700;

}
.profile-status > div span{
    display: block;
    margin-top: 0.1rem;
    color: var(--neutral);
    font-weight: 700;
    font-size: 0.58rem;
    letter-spacing: 0.08rem;
}
.profile-status > div:last-child{
    margin-right: 1rem;
}

/* For Mobile responsiveness */

@media screen and (max-width: 400px){
    html{
        font-size: 14px;
    }
    .wrapper::before{
        bottom: 35vh;
        right: 41vw;
    }
    .wrapper::after{
        top: 43vh;
        left: 25vw;
    }
}
